body {
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  text-align: center;
  font-size: medium;
  }

#todo-form form {
  margin: 0 auto;
  width: 15em;
  display: flex;
  flex-direction: column;
}

ul {
  width: 10em;
}

#clock {
  font-size: 40px;
  font-weight: bold;
  color: lightblue;
}

#list {
  margin-left: 10em;
  margin-right: 10em;
}

.hidden {
  display: none;
}

form.container{
  margin-top: 200px;
}

div.container{
  display: flexbox;
}
